.margin-select {
    margin: 0 auto;
}

.pearator-line {
    background: black;
    height: 1px;
}

.td-custom:hover td {
    background-color: rgb(255 191 1 / 40%);
}

.space-white {
    background: white;
}

.btn-custom {
    border-color: transparent;
}