<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="SICOPDATA" connectionString="Data Source=covialgt.com;Initial Catalog=z_PRODUCCION_sicopDB_al_04122016;uid=ebaquiax;password=juako1411" providerName="System.Data.SqlClient" />-->
    <!--<add name="AUTH" connectionString="Data Source=selephant.eastus2.cloudapp.azure.com;Initial Catalog=Z_PRODUCCION_ASPNETDB;uid=jcavero;password=j123456..!!" providerName="System.Data.SqlClient" />-->
    <!--<add name="SICOPDATA" connectionString="Data Source=selephant.eastus2.cloudapp.azure.com;Initial Catalog=z_Desarrollo_SicopDB;uid=jcavero;password=j123456..!!" providerName="System.Data.SqlClient"/>-->
    <add name="SICOPDATA" connectionString="Data Source=192.168.1.9\covialapp;Initial Catalog=z_PRODUCCION_sicopDB;uid=UsuarioExterno1;password=Us3r00@dm1n" providerName="System.Data.SqlClient" />
    <!--<add name="SICOPDATA" connectionString="Data Source=192.168.1.250\covialapp;Initial Catalog=z_PRODUCCION_sicopDB;uid=jcavero;password=Covial2021@***" providerName="System.Data.SqlClient" />-->
    <add name="AUTH" connectionString="Data Source=192.168.1.9\covialapp;Initial Catalog=z_PRODUCCION_ASPNETDB;uid=UsuarioExterno1;password=Us3r00@dm1n" providerName="System.Data.SqlClient" />
    <!--<add name="AUTH" connectionString="Data Source=192.168.1.250\covialapp;Initial Catalog=z_PRODUCCION_ASPNETDB;uid=jcavero;password=Covial2021@***" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web.extensions>
    <scripting> 
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
	  <authentication mode="Forms">
		  <forms name="sicopApp" loginUrl="~/Auth/Login.aspx" timeout="60" />
	  </authentication>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Dashboard.v19.1.Web.WebForms, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Dashboard.v19.1.Core, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Dashboard.v19.1.Web, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.DataAccess.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
      <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>-->
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2097152" requestLengthDiskThreshold="2097152" executionTimeout="36000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add namespace="Stimulsoft.Report.Web" assembly="Stimulsoft.Report.Web, Version=2023.1.3.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" tagPrefix="sti" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" validate="false" />
    </httpHandlers>
    <roleManager enabled="true" defaultProvider="AUTH">
      <providers>
        <remove name="AUTH" />
        <add name="AUTH" connectionStringName="AUTH" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="AUTH" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>

  </system.web>
  <appSettings>
	  <add key="pathReporte" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Reportes\"/>
	  <add key="Emergencias" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Emergencias\Multimedia\"/>
	  <add key="Rutafotos" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\"/>
	  <add key="Fotografias" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\"/>
	  <add key="VideoMultimedia" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Videos\"/>
	  <add key="FotografiasAdministrativas" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\Administrativas\"/>
	  <add key="FotosMultimedia" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\" />
	  <add key="urlFotosBitacora" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\FotosBitacora\" />
	  <add key="urlFotosRotulos" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\" />

	  <add key="FotosMultimedia" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\"/>
	  <add key="urlFotosBitacora" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\FotosBitacora\"/>
	  <add key="urlFotosRotulos" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Fotos\"/>

	  <!--<add key="urlImages" value="C:\Github\SICOP-Web\Covialgt\Covialgt\Images\"/>-->
	  <add key="urlImages" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Images\"/>
	  <add key="vProxy" value=""/>
	  <!--<add key="baseURL" value="https://elephant-project.com/API_REST_COVIAL/" />-->
	  <!--<add key="baseurl" value="http://192.168.1.250:1090/apirest/"/>-->
	  <add key="baseURL" value="http://localhost:55395/"/>
	  <add key="Sitio" value=""/>

	  <!--<add key="Sitio" value="SICOPV1"/>-->
	  <add key="Incidencias" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Incidencias\"/>
	  <add key="thumbnail" value="http://localhost:44390/GetThumbnail.aspx?"/>

	  <!--<add key="rutaReportes" value="C:\Github\SICOP-Web\Covialgt\Covialgt\Reportes\"/>-->
	  <add key="rutaReportes" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\Reportes\"/>
	  <add key="PdfsAyuda" value="http://localhost:44390/Ayuda/Multimedia/FicherosPDF/"/>

	  <add key="VideosAyuda" value="http://localhost:44390/Ayuda/Multimedia/Videos/"/>
	  <add key="ReportesVialesPath" value="http://localhost:44390/ReportesViales/Multimedia/Multimedia"/>
	  <!--fotos rep viales-->
	  <add key="rutaReportesViales" value="C:\Users\GISYSTEMS\Documents\GitHub\SICOP-Web\Covialgt\Covialgt\ReportesViales\Multimedia\Multimedia\" />




  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" name="WebDashboardHandler" preCondition="integratedMode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
   <!--Inicio proteccion individual de formularios-->
  <location path="Default.aspx">
    <system.web>

		<authorization>
        <!--<allow roles="*"/>
        <deny users="?"/>-->
      </authorization>

    </system.web>
  </location>
  <!--Tramos Viales-->
  <location path="RedVial/frmTramosViales.aspx">
    <system.web>
      <authorization>
        <!--<allow roles="*" />-->
        <allow roles="ADMINISTRADORES" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Renglones-->
  <location path="Renglones/frmRenglones.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!--Empresas-->
  <location path="Empresas/frmMaestroDeEmpresas.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion" />
        <deny users="?,*" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ProyectoPorEmpresa.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion, Director, Colaborador Planificacion, Planificador, Auxiliar Tecnico, Coordinador de Visa" />
        <deny users="?,*" />
      </authorization>
    </system.web>
  </location>
  <location path="Empresas/frmCapacidadEconomica.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion" />
        <deny users="?,*" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/frmRegesp.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion, Director" />
        <deny users="?,*" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/frmEmpOpciones.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion, Director" />
        <deny users="?,*" />
      </authorization>
    </system.web>
  </location>
  <!--Diseño de Proyectos-->
  <location path="DisenosProyectos/frmPlanesAnuales.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="DisenosProyectos/frmProgramas.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Planificacion" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DisenosProyectos/frmProgramasSanciones.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ActualizacionNOG.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores, Colaborador Planificacion, Coordinador de Planificacion, Director, Liquidacion,URLC" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="DisenosProyectos/frmEstadoProyecto.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Informes/InformeCongreso.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, COORDINADOR DE SEGUIMIENTO, DIRECTOR, COORDINADOR DE PLANIFICACION, INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Ejecucion-->
  <location path="Ejecucion/RegistroDatos.aspx">
    <system.web>
      <authorization>
        <allow roles="Adminstrador, Auxiliar Tecnico, Coordinador de Planificacion, COORDINADOR DE SEGUIMIENTO, Director,SUPERVISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/RegistrosMensuales.aspx">
    <system.web>
      <authorization>
        <allow roles="Adminstrador, Auxiliar Tecnico, Coordinador de Planificacion, COORDINADOR DE SEGUIMIENTO, Director,SUPERVISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/EquipoDurantePeriodo.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Supervisor, COORDINADOR DE SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ProgramacionFisicaProyecto.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Supervisor, COORDINADOR DE SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/GestionDeEstimaciones.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Supervisor,Contratista" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ConsultaEstimaciones.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores, Director,INGENIERO DE CONTROL Y SEGUIMIENTO, COORDINADOR DE SEGUIMIENTO, Ingeniero de control y seguimiento,Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ConsultaDeSanciones.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores, Director,INGENIERO DE CONTROL Y SEGUIMIENTO, COORDINADOR DE SEGUIMIENTO, Ingeniero de control y seguimiento,SUPERVISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/DocumentosDeCambio.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, SUPERVISOR, Ingeniero de control y seguimiento, Coordinador de seguimiento, Auxiliar Tecnico, Coordinador de Planificacion" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/AsociacionCantidadesTramos.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/frmFotografiasAdministrativas.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/FotografiasBitacora.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ActaNotarialRecepcion.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ActaInicioFiscal.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Estimaciones/frmEstimacionReprogramaciones.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Emergencias-->
  <location path="Emergencias/frmEmergenciasPantallaPrincipal.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Incidencias-->
  <location path="Incidencias/frmIncidenciasPantallaPrincipal.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Auxiliar Tecnico, Ingeniero de control y seguimiento, Coordinador de seguimiento, Director, Supervisor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Rotulos-->
  <location path="Ejecucion/InformacionDeRotulos">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, SUPERVISOR,Director,INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/ConsultaEstimacionesDetallada">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Receptor de Visa, Coordinador de Visa, Visor, Director, Coordinador de Planificacion,Colaborador Financiero" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--Informes Tecnicos-->
  <location path="InformesTecnicos/InformeTecnicoMensual.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, SUPERVISOR, DIRECTOR, Ingeniero de control y seguimiento, Coordinador de Visa, Receptor de Visa, Visor,Supervisor Consulta" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="InformesTecnicos/InformesTecnicosPorPeriodo.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, SUPERVISOR, DIRECTOR, Ingeniero de control y seguimiento, Coordinador de Visa, Receptor de Visa, Visor,Supervisor Consulta" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/DescripcionActualProyecto.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,DIRECTOR, SUPERVISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--VISA-->
  <location path="Visado/frmRequisitosVisado.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Visa" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Estimaciones/RecepcionDocumentos.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Receptor de Visa, AUXILIAR TECNICO, COORDINADOR DE SEGUIMIENTO,URLC,NOMINA,Receptor Financiero" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/ReAsignacionEstimaciones">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Visa" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/AsignacionEstimaciones">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Visa" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/RevisionEstimaciones">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Visor" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/TrasladoEstimaciones">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Receptor de Visa, Auxiliar Tecnico" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/ReporteVisa.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, Coordinador de Visa, Director" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/DocumentosDeCambioConsulta.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Coordinador de Seguimiento, Coordinador de Planificacion, Auxiliar Tecnico, INGENIERO DE CONTROL Y SEGUIMIENTO, DIRECTOR,VISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Catalogos/TrabajosAdmon.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Coordinador de Seguimiento, Coordinador de Planificacion, Auxiliar Tecnico, INGENIERO DE CONTROL Y SEGUIMIENTO, DIRECTOR,VISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Estimaciones/EstimacionesFacturas.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,DIRECTOR,VISOR, COORDINADOR DE VISA" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--TECNICO-->
  <location path="Ejecucion/AsignacionEncargadoProyecto.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/AsignacionesEmpresas.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/AsignacionesRegionales.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ejecucion/AsignacionesSupervisores.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO" />
        <deny users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administracion/TrabajosAdministracion.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,Coordinador de Seguimiento, AUXILIAR TECNICO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Estimaciones/frmreparostecnicosver.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES, AUXILIAR TECNICO, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO,URLC" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Estimaciones/frmreparostecnicoscrear.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES, AUXILIAR TECNICO, COORDINADOR DE SEGUIMIENTO, INGENIERO DE CONTROL Y SEGUIMIENTO,URLC" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Ejecucion/GestionDeDocumentosDeCambio.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADORES,Coordinador de Seguimiento, Auxiliar Tecnico,VISOR" />
        <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Fotografias/frmfotospresenciales.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,DIRECTOR,INGENIERO DE CONTROL Y SEGUIMIENTO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Fotografias/ProyectosSinFotosPresenciales.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,DIRECTOR,INGENIERO DE CONTROL Y SEGUIMIENTO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
<!--FINANCIERO-->
  <location path="Estimaciones/frmEstimacionesEstructuraRenglones.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES, Director,COLABORADOR FINANCIERO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
    <location path="Estimaciones/frmEstimacionesEstructuraTramos.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES, Director,COLABORADOR FINANCIERO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Financiera/TrasladoDevengado.aspx">
    <system.web>
      <authorization>
      <allow roles="ASIGNA DEVENGADO" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Catalogos/EstructuraPago.aspx">
    <system.web>
      <authorization>
      <allow roles="Administradores,Colaborador Financiero" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Financiera/ConstanciaSAF.aspx">
    <system.web>
      <authorization>
      <allow roles="Administradores, COLABORADOR FINANCIERO, COORDINADOR FINANCIERO, DIRECTOR" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
<!--LIQUIDACION-->
  <location path="Liquidacion/LiquidacionProyectos.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,SUPERVISOR, LIQUIDACION" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Liquidacion/frmCuadrosDescriptivos.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,SUPERVISOR, LIQUIDACION" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
<!--NOMINA-->
  <location path="Nominas/frmNominas.aspx">
    <system.web>
      <authorization>
      <allow roles="NOMINA" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Nominas/frmConsolidadoNomina.aspx">
    <system.web>
      <authorization>
      <allow roles="NOMINA" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Nominas/frmVistaGralEstimaciones.aspx">
    <system.web>
      <authorization>
      <allow roles="NOMINA" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
<!--CONFIGURAR-->
  <location path="Auxiliares/frmAuxiliares.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADOR,Supervisor,ADMINISTRADORES,COORDINADOR DE SEGUIMIENTO, REGIONALES" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Mensajeria/Enviomensajes.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES, MENSAJERIA,Liquidacion,URLC" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Usuarios/AgregarEmpleado.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Usuarios/CrearUsuario.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Usuarios/GestionUsuario.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="UsuariosProy/frmAgregarUsuario.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
  <location path="Busqueda/frmBusquedaGeneral.aspx">
    <system.web>
      <authorization>
      <allow roles="ADMINISTRADORES,AUXILIAR TECNICO,COLABORADOR PLANIFICACION,COORDINADOR DE PLANIFICACION,COORDINADOR DE SEGUIMIENTO,DIRECTOR,INGENIERO DE CONTROL Y SEGUIMIENTO,PLANIFICADOR, DIRECTOR" />
      <deny users="*,?" />
      </authorization>
    </system.web>
    </location>
</configuration>
